<div id="content-article">
	<% @movies.each do |movie| %>
		<div class="article-box clearfix">
			<div class="art-box-left">
				<% if movie["poster_path"] %>
					<img src="<%= @poster + movie["poster_path"] %>" alt="<%= movie["title"] + " Poster Image" %>"/>
				<% else %>
					<div class="img-holder" alt="No Image"></div>
				<% end %>
				<div class="overall-rating">
					<% if movie["ratings"] %>
						<%= raw gen_stars(movie["ratings"].avg) %>
					<% else %>
						<%= raw gen_stars %>
					<% end %>
				</div>
			</div>
			<!-- Content for the Article Box -->
			<div class="art-box-right">
				<div class="art-summary">
					<h3><%= link_to movie["title"], movie_path(movie["id"]), :class => "general-link" %></h3>
					<div id="article-summary-lines">
						<p class="summary-line"><span class="line-title"> Release Date: </span> <%= movie["date"] %> </p>
						<p class="summary-line"><span class="line-title"> Genre: </span> 
							<% movie["genre_ids"].each do |id| %>
								<%= link_to movie["genres"][id], movies_path(:sort_by => "genre", :genre => id), :class => "general-link" %>
							<% end %>
						</p>
					</div>
				</div>
				<div class="art-reviews">
					<% movie["reviews"].each do |review|%>
						<div class="review-line">
							<div class="review-line-rating">
								<%= raw gen_stars(review.rating) %>
							</div>
							<div class="opt-comment">
								<% if review.comment && !review.comment.eql?("") %>
									<%= review.comment %>
								<% else %>
									- annonymous
								<% end %>
							</div>
						</div>
					<% end %>
				</div>
				<div class="art-actions">
					<% if movie["more_reviews"] == true %>
						<%= link_to "View More", movie_path(movie["id"]), :class => "general-link" %>
					<% end %>
					<%= link_to 'Leave a Review', new_review_path(:movie_title => movie["title"], :movie_id => movie["id"]), :class => "general-link" %>
				</div>
			</div>
		</div>
	<% end %>
</div>