<div id="content">
	<div id="article" class="clearfix">
		<!-- Movie Content -->
		<div id="article-img">
			<% if @movie["poster_path"] %>
			<img src="<%= @poster + @movie["poster_path"] %>" alt="<%= @movie["title"] + " Poster Image" %>"/>
			<% end %>
		</div>
		<div id="article-main">
			<div id="article-title">
				<h2><%= @movie["title"] %></h2>
			</div>
			<div id="fact-line" class="clearfix">
				<div id="rating" class="fact-item">
					<% if @movie["ratings"] %>
						<%= raw gen_stars(@movie["ratings"].avg) %>
					<% else %>
						<%= raw gen_stars %>
					<% end %>
				</div>
				<div id="fact-time" class="fact-item">
					<% if @movie["runtime"] %>
						<%= @movie["runtime"] / 60 %> hrs <%= @movie["runtime"] % 60 %> mins
					<% end %>
				</div>
				<div id="fact-genre" class="fact-item">Genres</div>
				<div id="fact-date" class="fact-item">
					<% if @movie["date"] %>
						<%= @movie["date"] %>
					<% end %>
				</div>
				<% if @movie["homepage"] %>
					<div id="movie-site"><a href="<%= @movie["homepage"] %>">Official Site</a></div>
				<% end %>
			</div>
			<hr>
			<div id="overview">
				<%= @movie["overview"] %>
			</div>
			<div id="review-link">
				<%= link_to 'Leave a Review', new_review_path(:movie_title => @movie["title"], :movie_id => @movie["id"]), :class => "general-link" %>
			</div>
		</div>
	</div>
	<!-- Reviews Content -->
	<div id="reviews">
		<div id="reviews-box-title">
			<h3>Reviews</h3>
		</div>
		<% @movie["reviews"].each do |review|%>
			<div class="review-comment-box clearfix">
				<div class="review-line-rating">
					<%= raw gen_stars(review.rating) %>
				</div>
				<div class="review-comment">
					<% if review.comment && !review.comment.eql?("") %>
						<%= review.comment %>
					<% end %>
					<div class="review-perma">
						<%= link_to 'Permalink', review_path(review), :class => "action-link general-link"%>
					</div>
				</div>
			</div>
		<% end %>
		<div id="more-reviews">
			<% if @movie["more_reviews"] %>
				<%= link_to 'More Reviews', movie_path(@movie["id"], :page => params["page"].to_i + 1), :class => "action-link general-link"%>
			<% end %>
		</div>
	</div>
</div>