<div id="main-content" class="clearfix">
	<%= render 'movies/movies_bar' %>
	<!-- Main Content -->
	<div id="home-view-content">
		<%= render 'movies/movies_main' %>
	</div>
	<!-- Side Content -->
	<div id="content-aside">
		<div id="aside-top-box">
			<div class="aside-title">
				<h2>Recent Reviews</h2>
			</div>
			<div class="aside-blurbs-box">
				<% @side_reviews.each do |review| %>
					<div class="aside-review-blurb clearfix">
						<div class="review-blurb-title clearfix">
							<div class="review-blurb-movie">
								<% if review.movie_title %>
									<%= review.movie_title %>
								<% end %>
							</div>
							<div class="aside-rating">
								<%= raw gen_stars(review.rating) %>
							</div>
						</div>
						<div class="opt-comment opt-smaller">
							<% if review.comment && !review.comment.eql?("")%>
								&ldquo;<%= review.comment %>&rdquo;
							<% end %>
						</div>
					</div>
				<% end %>
				<div class="aside-link">
					<%= link_to "View All Reviews", reviews_path, :class => "general-link" %>
				</div>
			</div>
		</div>
		<hr />
		<div id="aside-bottom-box">
			<div class="aside-title">
				<h2>Upcoming Movies</h2>
			</div>
			<div class="aside-blurbs-box">
				<% @upcoming.each do |movie| %>
					<div class="aside-movie-blurb clearfix">
						<div class="movie-blurb-content">
							<%= link_to movie["title"], movie_path(movie["id"]), :class => "title-link" %>
						</div>
						<div class="aside-rating">
							<%= movie["date"] %>
						</div>
					</div>
				<% end %>
				<div class="aside-link">
					<%= link_to "View All Movies", movies_path, :class => "general-link" %>
				</div>
			</div>
		</div>
	</div>
</div>