<div id="review-view">
	<div>Review ID: <%= @review.id %></div>
	<div>Movie Title: <%= @review.movie_title %></div>
	<div>Movie ID: <%= @review.movie_id %></div>
	<div>Email: <%= @review.email %></div>
	<div>Date: <%= @review.date %></div>
	<div>Rating: <%= @review.rating %></div>
	<div>Comment: <%= @review.comment %></div>
	<div><%= link_to 'Delete', review_path(@review), method: :delete, data: { confirm: 'Are you sure? You cannot undo this action.' }, :class => "title-link" %></div>
</div>