<div id="review-view">
	<div><%= @review.id %></div>
	<div><%= @review.movie_title %></div>
	<div><%= @review.movie_id %></div>
	<div><%= @review.email %></div>
	<div><%= @review.date %></div>
	<div><%= @review.rating %></div>
	<div><%= @review.comment %></div>
</div>