<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TCIApp</title>
    <meta name="description" content="A movie review site.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="body-content">
      <div id="header" class="clearfix">
        <h1>TCI : The Celluoid Index</h1>
        <div id="site-nav">
          <a href="/">Home</a>
          <a href="">Movies</a>
          <a href="">Reviews</a>
          <a href="">About</a>
        </div>
      </div>
      <%= yield %>
    </div>
    <div id="footer">
      Powered By: <a href="https://www.themoviedb.org">The Movie DB</a>
    </div>
  </body>
</html>
